@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6em;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2em;
}

p {
  margin: 0.625em 0;
}

img {
  width: 100%;
}

/* Header */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 1.25em;
}

.hero .content h1 {
  font-size: 5.5rem;
  text-shadow: 0.03em 0.02em black;
}

.hero .content p {
  font-size: 2.3rem;
  max-width: 60rem;
  margin: 0.87em 0 1.3em;
  text-shadow: 0.07em 0.04em black;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec994b;
  opacity: 0.2;
}

.hero * {
  z-index: 1;
}

.hero.blog {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 35vh;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #73777bda;
  color: white;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  padding: 0 1.875em;
  transition: 0.5s;
  z-index: 2;
}

.navbar.top {
  background-color: transparent;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.625em 1.25em;
  margin: 0.3125em;
  text-shadow: 0.07em 0.04em #000;
}

.navbar a:hover {
  border-bottom: solid 2px #f1eee9;
  text-shadow: 0.07em 0.04em #ec994b;
}

.navbar .logo {
  font-weight: 400;
  text-shadow: 0.03em 0.02em #000;
}


/* Icons */
.icons {
  padding: 1.875em;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 0.8em;
}

.icons i {
  background-color: #ec994b;
  color: #f1eee9;
  padding: 0.5em;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.cases img:hover {
  opacity: 0.7;
}

.team img {
  border-radius: 50%;
}

/* Callback Form */
.callback-form {
  width: 100%;
  padding: 1.25em 0;
}

.callback-form label {
  display: block;
  margin-bottom: 0.32em;
}

.callback-form .form-control {
  margin-bottom: 0.95em;
}

.callback-form input {
  width: 100%;
  padding: 0.25em;
  height: 4rem;
  border: solid 1px #f5f5f5;
}

.callback-form input:focus {
  outline-color: #ec994b;
}

.callback-form .btn {
  padding: 0.75em 0;
  margin-top: 1.25em;
}

/* Post */
.post {
  padding: 3.13em 1.875em;
}

.post h2 {
  font-size: 4rem;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: solid 1px #ccc;
}

.post .meta {
  margin-bottom: 1.875em;
}

.post img {
  width: 30rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.875em;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 17rem;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #ec994b;
}

.footer .social>* {
  margin-right: 1.9em;
}

/* Mobile */
@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 7.5em;
    padding: 1.25em;
  }

  .navbar a {
    padding: 0.625em;
    margin: 0 0.19em;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}