/* Text colors */
.text-primary {
  color: #ec994b;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  border: solid 1.5px transparent;
  border-radius: 5px;
  font-weight: 550;
  background-color: #15133c;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
  border-top-color: #73777b;
  border-left-color: #73777b;
}

.btn-primary,
.bg-primary {
  background-color: #ec994b;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #73777b;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background-color: #15133c;
  color: #dff6ff;
}

.btn-light,
.bg-light {
  background-color: #f1eee9;
  color: #333;
}

.btn-outline {
  background-color: transparent;
  border: solid 2px #f1eee9;
  font-weight: bold;
  border-radius: 5px;
}

.btn-outline:hover {
  background-color: #15133c;
  border-color: transparent;
  font-weight: normal;
}

/* Flex items */
.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items>div {
  padding: 2rem;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.875em;
}

.flex-columns h2 {
  font-size: 4rem;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 0.625em;
}

.flex-columns p {
  margin: 1.25em 0;
}

/* Section header */
.section-header {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 4rem;
  margin: 0.5em 0;
}

.section-padding {
  padding: 1.25em 1.25em 2.5em;
}

/* Flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25em;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0.25em;
}